:root {
    --bg-clor: white;
    --text-color: black;
    --panel-color: rgb(236, 236, 236);
    --panel-border-color: rgb(205, 205, 205);
    --wrapper-color: rgb(255, 255, 255);
    --wrapper-hover-color: rgb(244, 244, 244);
    --selected-color: rgb(0, 183, 255);
}

body{
    background-color: var(--bg-clor);
    color: var(--text-color);
}

button{
    padding: 10px 20px;
    font-size: large;
    border-radius: 10px;
    background-color: #efefef;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.3);
    width: 100%;
    margin-top: 20px;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    flex-direction: column;
    padding: 5px;
    color: var(--text-color);
}

.div-sections-parametres {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    gap: 75px;
}

.page h1 {
    font-weight: lighter;
    font-family: 'Arial', sans-serif;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.section-parametres {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--panel-color);
    filter: drop-shadow(8px 8px 10px rgba(21, 21, 21, 0.1));
    border-radius: 30px;
    padding: 20px;
    border: solid var(--panel-border-color) 2px;
    width: 100%;
}

.icon-wrapper {
    width: 50px;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--wrapper-color);
    border-radius: 30px;
    padding: 20px;
}
.icon-wrapper:hover {
    background-color: var(--wrapper-hover-color);
    cursor: pointer;

}
/* RADIO BUTTON STYLING */
.options input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.options label {
    display: inline-block;
    background-color: #f1f1f1;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #cdcdcd;
    border-radius: 4px;
}
.options input[type="radio"]:checked + label {
    background-color: #bbdfff;
    border-color: #4474cc;
}
.options input[type="radio"]:not(:checked):hover + label {
    background-color: #dbdde4;
    color: #191919;
}

.options input[type="radio"][value="assassin"]:checked + label{
    background-color: #ffbbbb;
    border-color: #cc4444;
}

.meteo-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 20px;
    gap: 5px;
}

.chausse-parametres {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 20px;
    gap: 5px;
}
.chausse-parametres .icon-wrapper {
    width: 100%;
    height: 50px;
}
.parametre-slider-wrapper{
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 20px;
}

select {
    padding: 10px;
    border-radius: 30px;
    border: solid rgb(205, 205, 205) 2px;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    width: 100%;
}
label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* RESULTATS */
.battery_title{
    font-family: "ui-monospace";
    font-size: 4em;
}

@media (max-width: 1000px) {
    .div-sections-parametres {
        flex-direction: column;
        gap: 20px;
    }

    .panel {
        width: 100%;
    }
}