<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Document</title>
</head>

<body>
    <div class="page">
        <h1>Prédiction de l'<b>autonomie</b> d'une <b><br>VOITURE ÉLECTRIQUE</b></h1>

        <form action="/submit" method="post" id="selectionForm">
            <div class="div-sections-parametres">
                <div class="panel">
                    <div class="section-parametres">
                        <h2>Information du véhicule</h2>
                        <label for="marque-list">Marque:</label>
                        <select name="marque" id="marque-list">
                        </select>
                        <br>
                        <label for="modele-list">Modèle:</label>
                        <select name="modele" id="modele-list">
                            <option value="-- modèle --">-- modèle --</option>
                        </select>
                    </div>

                    <div class="section-parametres">
                        <h2>Habitude de conduite</h2>
                        <p>Style de conduite</p>
                        <div class="options">
                            <input type="radio" id="conduiteChoix1" name="conduite" value="eco">
                            <label for="conduiteChoix1">Éco-conduite</label>

                            <input type="radio" id="conduiteChoix2" name="conduite" value="normal" checked>
                            <label for="conduiteChoix2">Normal</label>

                            <input type="radio" id="conduiteChoix3" name="conduite" value="agressif">
                            <label for="conduiteChoix3">Aggressif</label>

                            <input type="radio" id="conduiteChoix4" name="conduite" value="assassin">
                            <label for="conduiteChoix4">Assassin</label>
                        </div>
                        <p>Utilisation de la climatisation</p>
                        <!-- toggle button-->
                        <label class="switch">
                            <input type="checkbox" id="climatisation-toggle" name="is_ac_used" value="True">
                        </label>
                        <p>Utilisation du chauffage</p>
                        <!-- toggle button-->
                        <div class="options">
                            <input type="radio" id="chauffageChoix1" name="chauffage" value="non" checked>
                            <label for="chauffageChoix1">Non</label>

                            <input type="radio" id="chauffageChoix2" name="chauffage" value="low">
                            <label for="chauffageChoix2">Low</label>

                            <input type="radio" id="chauffageChoix3" name="chauffage" value="mid">
                            <label for="chauffageChoix3">Moyen</label>

                            <input type="radio" id="chauffageChoix4" name="chauffage" value="high">
                            <label for="chauffageChoix4">Confort maximal</label>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="section-parametres">
                        <h2>Conditions extérieures</h2>

                        <button type="button" id="location-btn" onclick="getLocation()">Utiliser ma localisation</button>
                        <p id="demo"></p>

                        <label for="start_date"></label><input type="date" id="start_date">
                        <label for="start_time"></label><input type="time" id="start_time">
                        <br>
                        <label for="temperature">Température (°C):</label>
                        <br>
                        <input type="number" id="temperature" name="temperature" value="25">


                        <p>Météo</p>
                        <div class="options radio-toolbar">
                            <input type="radio" id="meteoChoix1" name="meteo" value="soleil" checked>
                            <label for="meteoChoix1">Soleil</label>

                            <input type="radio" id="meteoChoix2" name="meteo" value="nuageux">
                            <label for="meteoChoix2">Nuageux</label>

                            <input type="radio" id="meteoChoix3" name="meteo" value="pluie">
                            <label for="meteoChoix3">Pluie</label>

                            <input type="radio" id="meteoChoix4" name="meteo" value="neige">
                            <label for="meteoChoix4">Neige</label>
                        </div>

                        <p>Type de chaussé</p>
                        <div class="chausse-parametres">
                            <div class="parametre-slider-wrapper">
                                <p>Pas glissant</p>
                                <div class="slidecontainer">
                                    <input type="range" min="-30" max="30" id="glissant-range" name="slide_range"
                                        class="slider">
                                </div>
                                <p>Glissant</p>
                            </div>
                            <div class="parametre-slider-wrapper">
                                <p>Lisse</p>
                                <div class="slidecontainer">
                                    <input type="range" min="-30" max="30" id="bumpy-range" name="roughness_range"
                                        class="slider">
                                </div>
                                <p>Cahoteux</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <button type="submit">Envoyer</button>
        </form>

    </div>

</body>
<script>
    // METEO PART
// - get localisation
const x = document.getElementById("demo");

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(success, error);
  } else {
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function success(position) {
  x.innerHTML = "Latitude: " + position.coords.latitude +
  "<br>Longitude: " + position.coords.longitude;
  fetchMeteo(position);
}

function error() {
  alert("Sorry, no position available.");
}

//- api call
// ex:https://api.open-meteo.com/v1/forecast?latitude=45.53670606232232&longitude=-73.67448869055289&hourly=temperature_2m&current=temperature_2m&start_date=2026-03-23&end_date=2026-03-23


function fetchMeteo(position){
    const apiUrl = `https://api.open-meteo.com/v1/forecast?latitude=${position.coords.latitude}&longitude=${position.coords.longitude}&hourly=temperature_2m`;

    fetch(apiUrl)
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then(data => {
        console.log('Weather data:', data);
        const hourly_data = data.hourly;
        const data_time = hourly_data.time;
        const data_temperature = hourly_data.temperature_2m;
        console.log(data_time);
        console.log(data_temperature);
      })
      .catch(error => {
        console.error('There has been a problem with your fetch operation:', error);
      });
}


</script>
<script src="../static/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
</html>