<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Document</title>
</head>

<body>
    <div class="page">
        <h1>Prédiction de l'<b>autonomie</b> d'une <b><br>VOITURE ÉLECTRIQUE</b></h1>
        <h1>RÉSULTATS</b></h1>
        <div>
            <p>Estimated range:</p>
            <label class="range_title">{{ range }}km</label>

            <p>% used:</p>
            <label class="range_title">{{ pourcentage_used }}%</label>

            <p>Watts used:</p>
            <label class="range_title">{{ watt_used }} watts</label>

        </div>
        <button onclick="location.href='/'">Modifier les paramètres</button>
    </div>
</body>
</html>
